# ðŸ“š Recommendations based on average ratings
You will create your first recommendations using average ratings. This method highlights books with high reader ratings, combining popularity with quality. You'll calculate each book's average rating and choose the top-rated ones for your recommendations.

In [2]:
import pandas as pd
import plotly.express as px

In [4]:
df_ratings = pd.read_csv("data/BX-Book-Ratings.csv", sep = ";", encoding = "latin-1")
df_books = pd.read_csv("data/BX-Books.csv", sep = ";", encoding = "latin-1")
df_users = pd.read_csv("data/BX-Users.csv", sep = ";", encoding = "latin-1")

C:\Users\Gebruiker\AppData\Local\Temp\ipykernel_13424\757070080.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv("data/BX-Books.csv", sep = ";", encoding = "latin-1")

### 1. Calculate the average ratings
Calculate the average ratings and the number of reviews (count) for the books in your new dataset(s).

In [22]:
review_count = {}
for review in df_ratings['ISBN']:
    review_count[review] = review_count.get(review, 0) + 1

review_series = pd.Series(review_count)

review_count = pd.Series(review_count)
review_count = review_count.reset_index(name = "count").rename(columns={"index": "ISBN"})

In [17]:
sum_values = {}
for index, row in df_ratings.iterrows():
    isbn = row['ISBN']
    rating = row['Book-Rating']
    sum_values[isbn] = sum_values.get(isbn, 0) + rating

In [21]:
review_sum = pd.Series(sum_values)
review_sum = review_sum.reset_index(name = "total_sum").rename(columns={"index": "ISBN"})

In [24]:
df_ratings_scores = review_sum.merge(review_count, on='ISBN', how='inner')

In [25]:
df_ratings_scores["avg"] = df_ratings_scores["total_sum"]/df_ratings_scores["count"]

In [31]:
df_ratings_scores =  df_ratings_scores.sort_values(["avg", 'count'], ascending = False)

### 2. Save the recommendations
Choose the top 10 based on ratings and save them as `recommendations-ratings-avg.csv`, replacing the existing file in the app directory. Ensure the file includes the columns: `ISBN;mean`. After you have saved it you can refresh Streamlit to see the results

In [32]:
df_avg_score_10 = df_ratings_scores.head(10)

### 3. Reflect on the recommendations
Examine the average rating and number of reviews for the top 10 books. Reflect on why solely using average ratings isn't the best method for recommendations.

In [33]:
df_avg_score_10

              ISBN  total_sum  count   avg
48518   0395193958         60      6  10.0
38081   0688123228         40      4  10.0
38113   0689801505         40      4  10.0
42194   880780459X         40      4  10.0
49379   0760707251         40      4  10.0
80609   006440546X         40      4  10.0
83495   0439042445         40      4  10.0
103738  0060280034         40      4  10.0
149762  0393048470         40      4  10.0
1234    087701759X         30      3  10.0

In [36]:
df_ratings_scores["avg"].mean()

2.943582974695731